{% extends 'base.html.twig' %}

{% block title %}Messagerie - nouveau commentaire{% endblock %}

{% block body %}


    <div class="inputBloc">
        <h2>Ajouter un commentaire</h2>
        <form action="" method="post">
            <div class="flex flex-col gap-2">
                <label for="content">Message :</label>
                <textarea id="content" name="content" rows="4" required></textarea>
            </div>
            <button type="submit" class="bg-green-800 text-white font-bold p-3 rounded-lg mt-2">Envoyer</button>
        </form>
    </div>

{% endblock %}
