{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}

    <h1>Commenter le post de </h1>
    
    <form action="{{ path('add_message') }}" method="post">
        <div>
            <label for="content">Message :</label>
            <textarea id="content" name="content" rows="4" required></textarea>
        </div>
        <button type="submit">Envoyer</button>
    </form>

{% endblock %}
